.StockHeader {
  display: flex;
  align-items: center;
}

.StockHeader-header {
  display: flex;
  align-items: center;
}

.StockHeader-name {
  font-size: 2em;
  font-weight: bold;
  margin-right: 0.5em;
}

.StockHeader-keys {
  display: flex;
}

.StockHeader-key {
  background-color: #2196F3;
  color: white;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  margin: 0.3em;
}

.StockHeader-rank {
  display: flex;
  flex: 1;
}

.StockHeader-rank-comments {
  color: #333;
  margin-left: 10px;
}

.StockHeader-rank-percentage {
  background-color: #F44336;
  min-width: 5%;
}
