.StockHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative; }

.StockHeader-header {
  display: flex;
  align-items: center; }

.StockHeader-name {
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 0.5em; }

.StockHeader-keys {
  display: flex; }

.StockHeader-key {
  background-color: #2196F3;
  color: white;
  border-radius: 5px;
  padding: 0.2em 0.3em;
  margin: 0.2em;
  font-size: 0.9em;
  white-space: nowrap; }

.StockHeader-rank {
  display: flex;
  flex: 1; }

.StockHeader-rank-comments {
  color: #333;
  margin-left: 10px;
  white-space: nowrap;
  width: 80px; }

.StockHeader-rank-percentage {
  background-color: #F44336;
  min-width: 5%; }

.TargetArticles {
  position: absolute;
  top: -38px;
  right: -38px; }

.StockHeader-price {
  width: 90px;
  color: #666; }
  .StockHeader-price.is-up {
    color: #f3746d; }
  .StockHeader-price.is-down {
    color: #6c9c46; }
  .StockHeader-price .StockHeader-price-price {
    font-size: 18px;
    font-weight: bold; }
  .StockHeader-price .StockHeader-price-diff {
    font-size: 8px; }
