.App{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.main{
    display: flex;
    overflow: hidden;
    flex: 1;
}
#article-polling{
    font-family: 'MSJH', sans-serif;
    flex: 1;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.stock-input{
    background-color: white;
}
.stock-list{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    background-color: #EDEDED;
}



.rank-list{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #CCC;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    overflow: auto;
    height: 100%;

    .rank-scroll-link{
        // opacity: 0.5;
        &:hover{
            background-color: #E3F2FD;
            // opacity: 1;
        }
        &:last-child .StockHeader{
            border-bottom: 0px;
        }
    }

    .StockHeader{
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        border-bottom: 1px solid #CCC;
        padding: 0.3em;
        .StockHeader-header{
            width: 100%;    
        }
        
    }

    &:last-child .StockHeader{
        border-bottom: 0px;
    }
}

#stockContainer{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    >div:last-child{
        padding-bottom: 80vh;
    }
}

.all-msg-list{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    padding: 0 1em;
}