.App{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
#article-polling{
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0.5em;
}
.stock-list{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow: auto;
    padding: 0.5em;
}
.stock-element{
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    // max-width: 30vw;
}
.stock-element-header{
    display: flex;
    align-items: center;
}
.stock-element-name{
    font-size: 2em;
    font-weight: bold;
    margin-right: 0.5em;
}
.stock-element-keys{
    display: flex;
}
.stock-element-key{
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    margin: 0.3em;
}
.stock-element-msg-list{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
    overflow: auto;
    max-height: 60vh;
}
.stock-element-msg{
    display: flex;
    flex-shrink: 0;
    border-top: 1px solid #CCC;
    line-height: 1.5em;
    width: 100%;
}
.stock-msg-date{
    color: #999;
    margin-right: 0.5em;
    font-size: 0.8em;
}
.stock-msg-content{
    flex: 1;
    padding-right: 0.3em;
    max-width: 20vw;
}